@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';

body {
  background-color: $favColor !important;
}

.homePage{
  display: column;
  justify-content: center;
  h1 {
    text-align: center;
    color: azure;
  }
}

.stuff-cards{
  background-color: blue;
}