@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';

body {
  background-color: $favColor !important;
}

.home-page{
  display: column;
  justify-content: center;
  h1{
    color: whitesmoke;
    text-align: center;
  }
  .home-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.stuff-cards{
  .card-header{
    text-align: center;
  }
  .button-row{
    display: flex;
    justify-content: center;
    margin-top: .3rem;
    .btn{
      margin: .1rem;
    }
  }
}

.single-stuff-page{
  display: column;
  justify-content: center;
  h1{
    color: whitesmoke;
    text-align: center;
  }
  .single-view-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.single-stuff-cards{
  .card-header{
    text-align: center;
  }
  .button-row{
    display: flex;
    justify-content: center;
    margin-top: .3rem;
    .btn{
      margin: .1rem;
    }
  }
}

.edit-form-page{
  display: column;
  justify-content: center;
  h1{
    color: whitesmoke;
    text-align: center;
  }
}

.nav-item{
  margin-left: .8rem;
  margin-right: .8rem;
}
